@{
	LocalDir = ".."
	RemoteDir = "remote:shared_directory"
	StartServerCommand = "& `"`$(`$config.LocalDir)/Pal/Binaries/Win64/PalServer-Win64-Shipping-Cmd.exe`""
	HostName = "default_host"
	HostAddress = "default_address"
	RclonePath = "rclone"
}
