# Applied to LocalDir for pushing and RemoteDir for pulling.

+ /distributed-server/syncfilter.txt
- /distributed-server/**

# PalServer Windows
+ /Pal/Saved/Config/WindowsServer/**
- /Pal/Saved/SaveGames/*/*/backup/**
+ /Pal/Saved/SaveGames/**
- /**
